h1 {
    Color: White;
    
}
 body {   
     background-image: url('https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg');
    min-height: 100%;
    background-size: cover;
 }






